<ion-view title="Articulo" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Vu2OEYVyTuysLW94xgsC_quijote.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="articulo-heading2" style="color:#000000;text-align:center;">El Quijote</h1>
    <ion-list id="articulo-list4">
      <div class="item item-body" id="articulo-list-item-container1">
        <div id="articulo-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Autor: Jose Arroyave Editorial: Caulquier Mar Categoria: Literatura Precio: $200.000 Descripcion: Historia de un viajero</p>
        </div>
      </div>
    </ion-list>
    <div id="articulo-button-bar4" class="button-bar">
      <button id="articulo-button11" class="button button-balanced button-block">Comprar</button>
      <button id="articulo-button12" class="button button-balanced button-block icon ion-android-add">Carro</button>
      <button id="articulo-button13" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-block icon ion-android-add">Deseos</button>
    </div>
  </ion-content>
</ion-view>