<ion-view title="Carro de Compras" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="carroDeCompras-list5">
      <ion-item class="item-divider" id="carroDeCompras-list-item-divider2"> Productos seleccionados:</ion-item>
      <ion-item class="item-thumbnail-left" id="carroDeCompras-list-item11">
        <img src="img/3ZsB3LRZRUmSAdhnyT2P_quijote.jpeg">
        <h2>El Quijote</h2>
        <p>$200.000</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="carroDeCompras-list-item12">
        <img src="img/PikLIRdnQOSt9zi25otV_spiderman.jpeg">
        <h2>Spiderman</h2>
        <p>$100000</p>
      </ion-item>
      <ion-item id="carroDeCompras-list-item13">Total: $300.000</ion-item>
    </ion-list>
    <button id="carroDeCompras-button14" class="button button-balanced button-block">Comprar</button>
  </ion-content>
</ion-view>