<ion-view title="Lista de Deseos" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="listaDeDeseos-list7">
      <div class="item item-body" id="listaDeDeseos-list-item-container2">
        <div id="listaDeDeseos-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Seleccione los productos que desea comprar:</p>
        </div>
      </div>
      <ion-checkbox id="listaDeDeseos-checkbox3">El Quijote</ion-checkbox>
      <ion-checkbox id="listaDeDeseos-checkbox4">Matemaricas</ion-checkbox>
      <ion-checkbox id="listaDeDeseos-checkbox5">Spideman</ion-checkbox>
      <ion-checkbox id="listaDeDeseos-checkbox6">Locos de Amor</ion-checkbox>
    </ion-list>
    <a ui-sref="carroDeCompras()" id="listaDeDeseos-button15" class="button button-positive button-block">Comprar Seleccionados</a>
  </ion-content>
</ion-view>