<ion-view title="Login" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="login-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:white;font-size:23px;">Bienvenido a la comunidad de nuestra libreria</p>
    </div>
      
      <div class="list">
          <label class="item item-input" >
        <span class="input-label">Usuario</span>
        <input type="text">
      </label>
          
          <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="text">
      </label>
</div>
      
      <button ui-sref="categorias()" class="button button-balanced" class="button button-balanced button-block"  style="width: 100%; margin-top: 10px;">
      Ingresar
    </button>
      
      <button ui-sref="registrese()" class="button button-balanced" class="button button-balanced button-block"  style="width: 100%; margin-top: 10px;">
      Registrese
    </button>
      
  </ion-content>
</ion-view>