<ion-view title="Registrese" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="registrese-form4" class="list">
      <div>
        <img src="img/TIiFQTYxS9aAVoPEncUs_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="registrese-list2">
        <ion-item class="item-divider" id="registrese-list-item-divider1"> Campos Requeridos</ion-item>
        <label class="item item-input" id="registrese-input3">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registrese-input10">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="registrese-input11">
          <span class="input-label">Confirmar Password</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="registrese-input4">
          <span class="input-label">Nombre y apellido</span>
          <input type="email" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="registrese-input5">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="registrese-input8">
        <span class="input-label">Celular</span>
        <input type="tel" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-balanced" id="registrese-toggle3">Acuerdo de Licencia</ion-toggle>
      <a ui-sref="login()" id="registrese-button4" class="button button-balanced button-block">Registrarse</a>
    </form>
  </ion-content>
</ion-view>